.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    float: right;
    margin-top: 11px;
}

.filters button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    float: left;
    height: 100%;
    width: 25%;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 20px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

.popover {
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    padding-bottom: 20px;
    display: none;
}

.locations:hover .popover, .amenities:hover .popover {
    display: block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul h2{
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 16px;
}

.popover li h2:first-child{
    margin-top: 30px;
}

.popover li ul li{
    margin-left: 30px;
    margin-top: 5px;
}

.amenities .popover li{
    margin-left: 20px;
}

.amenities .popover{
    padding-top: 20px;
    padding-bottom: 20px;
}
